// Manifest section for pipeline metadata
manifest {
    name = 'niph_influenza_pipeline'
    description = 'A pipeline for processing influenza FASTQ files'
    author = 'Rasmus Kopperud Riis'
    homePage = 'https://github.com/RasmusKoRiis/niph_influenza_pipeline'
    version = '1.0'
    mainScript = 'main.nf'
}

// Parameters (can be set from the command line)
params {
    // Define default parameters
    reads = "data/*.fastq.gz" // Pattern to match your FASTQ files
    outdir = "./results" // Output directory
    sampleSheet = "samplesheet.csv" // Sample sheet path
    // Add other parameters as needed
}

// Profiles for running the pipeline
profiles {

    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        //process.container = 'your_default_docker_image' // Default Docker image (optional)
    }

    conda {
        conda.enabled = true
        //process.conda = '/path/to/environment.yml' // Path to Conda environment file (optional)
    }

    // Additional profiles as needed
}

// Process specific configurations
process {

    // Default process settings
    cpus = 2
    memory = '4 GB'
    time = '2h'
    
    // Specify custom settings for each process if needed
    // withName:processName {
    //    container '<custom_docker_image>'
    //    conda '<path_to_conda_environment>'
    // }
}

// Include other necessary configurations here if needed
